<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>T4VN - FORM ĐĂNG KÝ THÔNG TIN</title>
<script type="text/javascript">
</script>
</head>

<body>
<div class="body">
<center><h1>ĐĂNG KÝ THÔNG TIN CÁ NHÂN</h1></center>
<form action="/signup" method="POST">
<table border="0" cellpadding="0" cellspacing="0">
<tr class="table">
    <td class="left"><p>UserName </p></td>
    <td class="right"><p><input type="text" name="UserName" required=""></p></td>
</tr>
<tr class="table">
    <td class="left"><p>PassWord</p></td>
    <td class="right"><p><input type="password" name="PassWord" required=""></p></td>
</tr>
<tr class="table">
    <td class="left"><p>Re-enter password</p></td>
    <td class="right"><p><input type="password" name="lapmatkhau" required=""></p></td>
</tr>
<tr class="table">
    <td class="left"><p>Email</p></td>
    <td class="right"><p><input type="email" name="Email" required=""></p></td>
</tr>
<tr>
<td colspan="2">
<center><button type="submit"><b>Lưu</b></button> <input type="reset" value="Nhập lại" name="nhaplai"></center>
</td>
</tr>
</table>
</form>
</div>
</body>
</html>